<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.nexg.esm.nexgesm.mariadb.mapper.ConfigMapper">

	<update id="set_apply_status" parameterType="boolean">
		/* ConfigMapper.set_apply_status */	
		UPDATE config SET val = #{val}  WHERE attr='is_apply'
	</update>
	
	<select id="get_configbackup_count" resultType="int">
		/* ConfigMapper.get_configbackup_count */	
		SELECT count(id) FROM configbackup
	</select>
	
	<select id="get_configbackup_list" parameterType="int" resultType="map">
		/* ConfigMapper.get_configbackup_list */	
		SELECT id, user as admin, type, device, sdate as time
          FROM configbackup 
         ORDER BY id DESC LIMIT #{skip}, #{limit}
	</select>
	
	<select id="get_systemconfigbackup_count" resultType="int">
		/* ConfigMapper.get_systemconfigbackup_count */	
		SELECT count(id) FROM systemconfigbackup
	</select>
	
	<select id="get_systemconfigbackup_list" parameterType="int" resultType="map">
		/* ConfigMapper.get_systemconfigbackup_list */	
		SELECT id, user as admin, type, sdate as time
          FROM systemconfigbackup 
         ORDER BY id DESC LIMIT #{skip}, #{limit}
	</select>
	

</mapper>